.add-task form{
    display:flex;
    gap:15px;
    margin:25px 0;
}

.add-task input{
    flex:1;
    padding:14px;
    font-size:16px;
    border:2px solid #dfe6e9;
    border-radius:10px;
    outline:none;
    transition:.3s;
}

.add-task input:focus{
    border-color:#0984e3;
    box-shadow:0 0 8px rgba(9,132,227,.25);
}

.task-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#ffffff;
    padding:15px 20px;
    margin-top:15px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transition:.3s;
}

.task-card:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 18px rgba(0,0,0,.12);
}

.task-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.task-left input{
    width:18px;
    height:18px;
    cursor:pointer;
}

.task-left span{
    font-size:17px;
    color:#2d3436;
    font-weight:500;
}

.actions{
    display:flex;
    gap:10px;
}

.edit-btn{
    text-decoration:none;
    background:#f39c12;
    color:white;
    padding:8px 14px;
    border-radius:8px;
    transition:.3s;
}

.edit-btn:hover{
    background:#d68910;
}

.delete-btn{
    text-decoration:none;
    background:#e74c3c;
    color:white;
    padding:8px 14px;
    border-radius:8px;
    transition:.3s;
}

.delete-btn:hover{
    background:#c0392b;
}

.empty{
    justify-content:center;
    text-align:center;
    flex-direction:column;
}

.empty h3{
    margin-bottom:10px;
}

.empty p{
    color:#636e72;
}